body {
  overflow-x: hidden;
}

.header2 {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../ASSETS//bg_1.jpg);
  background-position: center;
  background-size: cover;
  display: block;
  z-index: 1;
  /* position: absolute; */

}

.headerlines {
  width: 90%;
  color: #fff;
  /* position: absolute;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%); */
  text-align: left;

}

.row h1 {
  font-size: 60px;
  margin-left: 20px;
}

.row h5 {
  font-size: 20px;
  margin: 10px 0 25px;
  margin-left: 50px;
  color: #fff;
}

.boxhead {
  margin-left: 38px;
}

.hero-btn {
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border: 4px solid #3F5845;
  width: 190px;
  padding: 12px 35px;
  font-size: 20px;
  background-color: lightblue;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 14px;
}

.hero-btn:hover {
  border: 4px solid #8CC084;
  background: #6B4423;
  transition: 0.5s;
  color: white;
}

.hero-btn1 {
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border: 4px solid #3F5845;
  width: fit-content;
  padding: 12px 35px;
  font-size: 20px;
  background-color: lightblue;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 14px;
}

.hero-btn1:hover {
  border: 4px solid #8CC084;
  background: #6B4423;
  transition: 0.5s;
  color: white;
}

@media screen and (min-width:600px) and (max-width:1024px) {

  .headerlines {
    /* position: absolute;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%); */
    text-align: left;

  }

}

@media screen and (min-width:400px) and (max-width:600px) {
  .headerlines {
    width: 60%;
    color: #fff;
    /* position: absolute;
    top:10%;
    left:50%;
    transform:translate(-50%,-50%); */
    text-align: left;

  }

  .row h1 {
    font-size: 50px;
    margin-left: 20px;
  }

  .row h5 {
    font-size: 20px;
    margin: 10px 0 25px;
    margin-left: 50px;
    color: #fff;
  }

  .boxhead {
    margin-left: 38px;
  }

  .hero-btn {
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    border: 4px solid #3F5845;
    width: fit-content;
    padding: 12px 35px;
    font-size: 14px;
    background-color: lightblue;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 14px;
  }

  .hero-btn1 {
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    border: 4px solid #3F5845;
    width: fit-content;
    padding: 12px 35px;
    font-size: 14px;
    justify-content: space-between;
    background-color: lightblue;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 14px;
  }



}

@media screen and (min-width:280px) and (max-width:400px) {
  .headerlines {
    width: 70%;
    color: #fff;
    /* position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%); */
    text-align: left;

  }

  .row h1 {
    font-size: 50px;
    margin-left: 20px;
  }

  .row h5 {
    font-size: 20px;
    margin: 10px 0 25px;
    margin-left: 50px;
    color: #fff;
  }

  .boxhead {
    margin-left: 38px;
  }

  .hero-btn {
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    border: 4px solid #3F5845;
    width: fit-content;
    padding: 12px 35px;
    font-size: 14px;
    background-color: lightblue;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 14px;
  }

  .hero-btn1 {
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    border: 4px solid #3F5845;
    width: fit-content;
    padding: 12px 35px;
    font-size: 14px;
    background-color: lightblue;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 14px;
  }

}







.boxes {
  margin-top: 5% !important;
}

h4 {
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 25px;
}

p {
  padding-left: 15px;
  padding-right: 15px;
}

.faq {
  max-width: 1200px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;

}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-left: 50px; */
}

.question h3 {
  font-size: 1.8rem;
}

.answer {
  display: flex;
  max-height: 0;
  /* margin-left: 50px; */
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}

.answer img {
  width: 100%;
  height: 300px;
  border-radius: 4px;
  box-shadow: #fff seashell;
  background-position: center;
  padding-top: 1rem;
}

.faq.active .answer {
  max-height: 700px;
  animation: fade 1s ease-in-out;
}

.faq.active svg {
  transform: rotate(180deg)
}

svg {
  transition: transform 0.5s ease-in;
}


@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px)
  }

  to {
    opacity: 1;
    transform: translate(0px)
  }
}




/* FOOTER */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.footer {

  /* background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(footerbg); /
 / padding:50px 10px 20px; */

  background-image: url(../ASSETS/footerbg.jpg);
  padding-left: 20px;
  /*background-color: #3F5845; */
}

.footer .col-md-3 {
  padding-left: 10px;
  padding-top: 30px;
}

.footer .col-md-2 {
  padding-left: 10px;
  padding-top: 30px;
}

.footer h4 {
  /* color:#fff; */
  color: #24262b;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 25px;
}



.footer h4:hover::after {
  width: 30%;
  transform: translateX(-100%);

}

.footer ul li {
  list-style: none;
}

.footer p {
  font-size: 16px;
  font-weight: 600;
  padding-top: 2px;
}

.footer-logo {
  width: 150px;
  height: 90px;
  padding-top: 0px;
  padding-bottom: 5px;
  justify-content: center;

}




.footer ul li a {
  font-size: 16px;
  text-transform: capitalize;
  /* color: #ffffff; */
  color: #24262b;
  text-decoration: none;
  font-weight: 600;
  /* display: block; */
  transition: all o.3s ease;
  text-align: justify;
}

.footer ul li a:hover {
  color: #d119af;
}

.footer .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: black;
  text-align: center;
  line-height: 40px;
  border-radius: 50px;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer .social-links a:hover {
  color: #e5e9f3;
  background-color: #62b5ec;

}

.social-links {
  padding-top: 260px;
  padding-left: 100px;
}

.ofc1 {
  font-size: 20px;
}

.footer hr {
  margin-top: 10px;
  background: #fcfafa;
  /* color: #efefef; */
  color: #24262b;
}

.footer .copyrights {
  text-align: center;
  /*color: #efefef; */
  color: #24262b;
  font-size: 16px;
  font-weight: 600;

}

@media screen and (max-width:600px) {
  .social-links {
    padding-top: 0px !important;
  }

}


@media screen and (max-width:1000px) {
  .social-links {
    padding-top: 6px !important;
    float: right;
    padding-right: 10px;
  }

}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
}


.head {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.logo img {
  width: 130px;
  height: 110px;
  background-color: #264027;
}

span {

  cursor: pointer;
  color: white;
  padding: 20px;
  font-size: 50px;
}

.two {
  text-align: center;
}

.sidenav {
  width: 300px;
  display: none;
  position: absolute;
  top: 100px;
  height: auto;
  right: 0;
  background-color: #0ee85e;
  overflow-y: hidden;
  transition: 0.5s;
  padding-top: auto;
  border-radius: 10px;
}

.show {
  display: block;
}

.sidenav a {
  background: linear-gradient(20deg, #7BC950, rgb(242, 242, 115));
  color: black;
  padding: 6px 3px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  height: 50px;
  width: auto;
  letter-spacing: 1px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  text-transform: capitalize;
  text-align: start;
}

.sidenav a:hover {
  color: #7A4419;
  letter-spacing: 2px;
  text-decoration: underline;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.middle h1 {
  font-size: 40px;
  color: white;
}

/* body * {
    animation: fadeIn 1s ease-in-out;  
   
  } */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}